    *{
        font-family: 'Work Sans', sans-serif;
    }
/* Shared style */
    .btn-prymary{
        color: #fff;
    }
/* Header Style start hear */
    header{
        background-color: rgba(255, 144, 14, 0.10);
        padding: 50px 230px;
    }
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .nav-titel{
        font-size: 2.8rem;
        font-weight: 700;
        color: #131313;
    }
    nav > ul{
        display: flex;
    }
    nav li{
         list-style: none;
         margin-right: 30px;
         font-size: 1rem;
         font-weight: 500; 
    }
    nav li a{
        text-decoration: none;
        color: #424242;
    }

 /*Banner style  */
    .banner-content{
        max-width: 800px;
        text-align: center;
        margin: 0 auto;
    }
    .banner-titel{
        font-size: 4rem;
        color: #131313;
        font-weight: 700;
    }
    .banner-description{
        color: #727272;
    }